<style>
* {
  box-sizing: border-box;
}

.background {
  background-image: url('https://raw.githubusercontent.com/gmstern/website/master/razor/photorazor.jpg');
  background-position: center;
  background-size: 70%;
  height: 1500px;

}

h1 {
  font-family:'Inria Serif', serif;
  font-size: 22px;
  color: #fff;
}

h2 {
  font-family:'Inria Serif', serif;
  font-size: 20px;
  color: #fff;
}

.transbox{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transbox p {
  font-family: 'Inria Serif', serif;
  margin: 5%;
  color: #000000;
}

.transbox h2 {
  font-family: 'Inria Serif', serif;
  margin: 5%;
  color: #000000;
}

#transbox-a{
  margin: 30px;
  background-color: #ffffff;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#transbox-a p {
  font-family: 'Inria Serif', serif;
  margin: 5%;
  color: #000000;
}

.button-display {
  font-family: 'Inria Serif', serif;
  margin: 5%;
  color: #000000;
  font-size: 25px;
}

/* Style the top navigation bar */
.center {
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

</style>
